<a href="https://colab.research.google.com/github/Hubert246/Data-Science-Bootcamp/blob/main/02_pandas/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd


def fetch_financial_data(company='AMZN'):
  import pandas_datareader.data as web
  return web.DataReader(name=company, data_source='stooq')

df = fetch_financial_data()

In [2]:
apple = fetch_financial_data("AAPL")
amazon = fetch_financial_data("AMZN")
google = fetch_financial_data("GOOGL")
uber = fetch_financial_data("UBER")

In [5]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 947 entries, 2023-02-10 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    947 non-null    float64
 1   High    947 non-null    float64
 2   Low     947 non-null    float64
 3   Close   947 non-null    float64
 4   Volume  947 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 44.4 KB

In [6]:
apple.head()

               Open      High      Low   Close      Volume
Date
2023-02-10  149.460  151.3401  149.220  151.01  57450708.0
2023-02-09  153.775  154.3300  150.420  150.87  56007143.0
2023-02-08  153.880  154.5800  151.168  151.92  64120079.0
2023-02-07  150.640  155.2300  150.640  154.65  83322551.0
2023-02-06  152.575  153.1000  150.780  151.73  69858306.0

In [7]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [8]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-02-10     149.460    151.3401    149.220       151.01    57450708.0
2023-02-09     153.775    154.3300    150.420       150.87    56007143.0
2023-02-08     153.880    154.5800    151.168       151.92    64120079.0
2023-02-07     150.640    155.2300    150.640       154.65    83322551.0
2023-02-06     152.575    153.1000    150.780       151.73    69858306.0

In [11]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [14]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')

df.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1257.00,99.05,46.29,34.74,50.47,108.23,142.63,181.58
apple_high,1257.00,100.27,46.89,35.16,50.82,110.47,144.71,181.88
apple_low,1257.00,97.89,45.68,34.26,49.94,106.72,141.16,178.09
apple_close,1257.00,99.13,46.31,34.31,50.44,108.37,143.00,180.96
apple_volume,1257.00,117343711.30,55598662.52,35195860.00,79623774.00,102352656.14,139004979.60,434708544.96
amazon_open,1257.00,120.63,34.90,67.30,89.65,108.11,158.34,187.20
amazon_high,1257.00,122.10,35.27,69.80,90.29,110.99,159.94,188.65
amazon_low,1257.00,119.01,34.48,65.35,88.60,106.37,156.25,184.84
amazon_close,1257.00,120.56,34.84,67.20,89.53,108.44,158.10,186.57
amazon_volume,1257.00,85697583.15,39509372.22,17626740.00,58969714.00,74488460.00,101331040.00,311345660.00
google_open,1257.00,86.62,30.49,49.22,59.28,75.50,112.64,151.25
google_high,1257.00,87.60,30.78,50.61,59.90,76.17,114.01,151.55
google_low,1257.00,85.64,30.13,48.88,58.65,74.89,111.46,148.90
google_close,1257.00,86.64,30.45,49.23,59.43,75.60,112.72,149.84
google_volume,1257.00,35271252.42,15926289.56,9312760.00,25153400.00,31436600.00,40257340.00,133177100.00
uber_open,947.00,37.25,9.80,15.96,29.73,34.78,44.17,63.25
uber_high,947.00,38.02,9.88,17.80,30.41,35.40,44.84,64.05
uber_low,947.00,36.41,9.65,13.71,29.13,34.00,43.39,60.80
uber_close,947.00,37.21,9.74,14.82,29.75,34.70,44.00,63.18
uber_volume,947.00,25585172.93,16673794.56,3380003.00,15718872.50,21786591.00,30738767.00,186322536.00

In [15]:
df.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.77,0.77,0.76,0.77,-0.29,0.93,0.93,0.92,0.92,-0.12,0.09,0.09,0.09,0.09,0.11
apple_high,1.00,1.00,1.00,1.00,-0.35,0.77,0.77,0.76,0.76,-0.28,0.92,0.93,0.92,0.92,-0.12,0.08,0.08,0.08,0.08,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.77,0.77,0.76,0.77,-0.29,0.93,0.93,0.93,0.93,-0.12,0.09,0.09,0.09,0.09,0.11
apple_close,1.00,1.00,1.00,1.00,-0.36,0.77,0.77,0.76,0.77,-0.29,0.93,0.93,0.92,0.93,-0.12,0.08,0.09,0.09,0.09,0.11
apple_volume,-0.36,-0.35,-0.37,-0.36,1.00,-0.21,-0.21,-0.22,-0.21,0.57,-0.41,-0.40,-0.41,-0.41,0.47,-0.18,-0.17,-0.19,-0.18,0.23
amazon_open,0.77,0.77,0.77,0.77,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_high,0.77,0.77,0.77,0.77,-0.21,1.00,1.00,1.00,1.00,-0.24,0.79,0.79,0.79,0.79,-0.14,0.58,0.58,0.58,0.58,-0.04
amazon_low,0.76,0.76,0.76,0.76,-0.22,1.00,1.00,1.00,1.00,-0.26,0.79,0.79,0.79,0.79,-0.16,0.60,0.60,0.60,0.60,-0.05
amazon_close,0.77,0.76,0.77,0.77,-0.21,1.00,1.00,1.00,1.00,-0.25,0.79,0.79,0.79,0.79,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_volume,-0.29,-0.28,-0.29,-0.29,0.57,-0.25,-0.24,-0.26,-0.25,1.00,-0.32,-0.31,-0.33,-0.32,0.56,-0.17,-0.17,-0.19,-0.18,0.24
google_open,0.93,0.92,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_high,0.93,0.93,0.93,0.93,-0.40,0.79,0.79,0.79,0.79,-0.31,1.00,1.00,1.00,1.00,-0.15,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.93,0.92,-0.41,0.79,0.79,0.79,0.79,-0.33,1.00,1.00,1.00,1.00,-0.17,0.25,0.25,0.25,0.25,0.09
google_close,0.92,0.92,0.93,0.93,-0.41,0.79,0.79,0.79,0.79,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.12,-0.12,-0.12,-0.12,0.47,-0.15,-0.14,-0.16,-0.15,0.56,-0.16,-0.15,-0.17,-0.16,1.00,-0.16,-0.15,-0.17,-0.16,0.28
uber_open,0.09,0.08,0.09,0.08,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
uber_high,0.09,0.08,0.09,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.09,0.08,0.09,0.09,-0.19,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.24
uber_close,0.09,0.08,0.09,0.09,-0.18,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.11,0.11,0.11,0.11,0.23,-0.04,-0.04,-0.05,-0.04,0.24,0.10,0.10,0.09,0.10,0.28,-0.22,-0.19,-0.24,-0.21,1.00

In [16]:
df.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [17]:
closes = [col for col in df.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [18]:
df[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-02-14        39.95         72.55         53.63         NaN
2018-02-15        41.29         73.09         54.57         NaN
2018-02-16        41.16         72.43         54.77         NaN
2018-02-20        41.02         73.42         55.18         NaN
2018-02-21        40.83         74.15         55.69         NaN
...                 ...           ...           ...         ...
2023-02-06       151.73        102.18        102.90       33.90
2023-02-07       154.65        102.11        107.64       34.90
2023-02-08       151.92        100.05         99.37       36.83
2023-02-09       150.87         98.24         95.01       35.89
2023-02-10       151.01         97.61         94.57       34.30

[1257 rows x 4 columns]

In [19]:
df[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.77          0.93        0.09
amazon_close         0.77          1.00          0.79        0.59
google_close         0.93          0.79          1.00        0.24
uber_close           0.09          0.59          0.24        1.00

In [20]:
closes = [col for col in df.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [21]:
df[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.36,0.77,-0.29,0.93,-0.12,0.09,0.11
apple_volume,-0.36,1.00,-0.21,0.57,-0.41,0.47,-0.18,0.23
amazon_close,0.77,-0.21,1.00,-0.25,0.79,-0.15,0.59,-0.04
amazon_volume,-0.29,0.57,-0.25,1.00,-0.32,0.56,-0.18,0.24
google_close,0.93,-0.41,0.79,-0.32,1.00,-0.16,0.24,0.10
google_volume,-0.12,0.47,-0.15,0.56,-0.16,1.00,-0.16,0.28
uber_close,0.09,-0.18,0.59,-0.18,0.24,-0.16,1.00,-0.21
uber_volume,0.11,0.23,-0.04,0.24,0.10,0.28,-0.21,1.00

In [23]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-02-10      34.40      35.40     34.05       34.30     41936379
2023-02-09      36.89      37.36     35.65       35.89     44068509
2023-02-08      37.43      37.58     34.50       36.83    109597829
2023-02-07      33.66      35.06     33.41       34.90     59374036
2023-02-06      33.53      34.21     32.90       33.90     33594934

In [24]:
uber_6 = uber[uber.index.month == 6]
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [25]:
uber_7 = uber[uber.index.month == 7]
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [26]:
uber_6_7 = uber_6.append(uber_7)

In [27]:
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]